html {
    background: #FFFFFF;
    max-height: 2000px;
}


body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1440px;
    max-height: 2000px;
    
}
@font-face {
    font-family:'DINAlternate-Bold';
    src: url('DINPro-Medium.otf');
}  
main_head{
    font-family:DINAlternate-Bold;
    font-size:64px;
    color:#000000;
    letter-spacing:0px;
    position:absolute;
    left:50px;
    top:60px;
}
main_major{
    font-family:DINPro-Medium;
    font-size:36px;
    color:#222;
    letter-spacing:0px;
    line-height:37px;
    position:absolute;
    left:50px;
    top:240px;
}
#menu { 
    visibility:hidden;
}
main_menu{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#000000;
    letter-spacing:0px;
    text-align:left;
    
}

main_paragraph{
    font-family:DINPro-Regular;
    font-size:20px;
    color:#000000;
    letter-spacing:0px;
    line-height:25px;
    text-align:left;
    position:absolute;
    left:214px;
    top:574px;
}
main_menu{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#000000;
    letter-spacing:0px;
    text-align:left;
    position:absolute;
    top:170px;
}
main_menu:hover{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#ff4081;
    letter-spacing:0px;
    text-align:left;
}
main_menu:click{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#f8e71c;
    letter-spacing:0px;
    text-align:left;
}
main_icon{
    font-family:DINPro-Black;
    font-size:24px;
    color:#00000;
    letter-spacing:0px;
    text-align:left;
    position:absolute;
    top:172px;
    z-index:2000;
    
}
main_icon:hover{
    font-family:DINPro-Black;
    font-size:24px;
    color:#f8e71c;
    letter-spacing:0px;
    text-align:left;
}
main_icon:click{
    font-family:DINPro-Black;
    font-size:24px;
    color:#f8e71c;
    letter-spacing:0px;
    text-align:left;
}
#rectangle:hover{
    
}
img {
    background: transparent;  
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}