html {
    background: #FFFFFF;
    max-height: 900px;

}


body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-height: 4000px;
    z-index:1000;
}
@font-face {
    font-family:'DINAlternate-Bold';
    src: url('DINPro-Medium.otf');
}  
main_head{
    font-family:DINAlternate-Bold;
    font-size:48px;
    color:#000000;
    letter-spacing:0px;
    position:absolute;
    left:370px;
    top:164px;
    z-index:1000;
}
main_major{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#222;
    letter-spacing:0px;
    line-height:37px;
    position:absolute;
    left:840px;
    top:200px;
    z-index:1000;
}
#menu { 

}
main_menu{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#000000;
    letter-spacing:0px;
    text-align:left;
    z-index:1000;
    
}

main_paragraph{
    font-family:DINPro-Regular;
    font-size:20px;
    color:#000000;
    letter-spacing:0px;
    line-height:25px;
    text-align:left;
    position:absolute;
    left:214px;
    top:574px;
    z-index:1000;
}
main_word2{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#ff4081;
    letter-spacing:0px;
    line-height:25px;
    text-align:left;
    position:absolute;
    left:221px;
    top:1150px;
    z-index:2000;
    z-index:1000;
}
main_menu{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#000000;
    letter-spacing:0px;
    text-align:left;
    position:absolute;
    top:94px;
    z-index:1000;
}
main_menu:hover{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#ff4081;
    letter-spacing:0px;
    text-align:left;
    z-index:1000;
}
main_menu:click{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#f8e71c;
    letter-spacing:0px;
    text-align:left;
    z-index:1000;
}
main_icon{
    font-family:DINPro-Black;
    font-size:24px;
    color:#00000;
    letter-spacing:0px;
    text-align:left;
    position:absolute;
    top:172px;
    z-index:2000;
    
}
#front_img{
    z-index:3000;
}
#back_img{
    z-index:1000;
}
main_icon:hover{
    font-family:DINPro-Black;
    font-size:24px;
    color:#f8e71c;
    letter-spacing:0px;
    text-align:left;
    z-index:1000;
}
main_icon:click{
    font-family:DINPro-Black;
    font-size:24px;
    color:#f8e71c;
    letter-spacing:0px;
    text-align:left;
    z-index:1000;
}
#rectangle:hover{
    
}
img {
    background: transparent;  
    z-index:1000;
}
contact
{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);       /* IE 9 */
    -webkit-transform: rotate(90deg);   /* Safari and Chrome */
    -o-transform: rotate(90deg);        /* Opera */
    -moz-transform: rotate(90deg);      /*firefox*/
    font-family:DINPro-light;
    font-size:20px;
    color:#000000;
    letter-spacing:0px;
    line-height:30px;
    text-align:right;
}
#background-ellipese1{
    opacity:0.82;
    background:#ffcf24;
    width:520px;
    height:520px;
    border-radius:100%;
}
#background-ellipese2{
    opacity:0.82;
    background:#ffcf24;
    width:691px;
    height:666px;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
