html {
    background: #FFFFFF;
}
body {
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-height: 4000px;
    
}
@font-face {
    font-family:'DINAlternate-Bold';
    src: url('DINPro-Medium.otf');
} 
menu{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#000000;
    letter-spacing:0px;
    text-align:left;
    position:absolute;
    top:42px;
    margin:0px;
    padding: 0px;
}
menu:hover{
    font-family:DINPro-Medium;
    font-size:24px;
    color:#ff4081;
    letter-spacing:0px;
    text-align:left;
}
menu_underline{
    border:3px solid #979797;
    width:65px;
    height:0px;
}
stitle{
    font-family:DINPro-Regular;
    font-size:18px;
    color:#000000;    
}
#1{position:absolute;
    left:50px;
    top:600px;}
detail{
    font-family:DINPro-Light;
    font-size:18px;
    color:#000000;
    letter-spacing:0px;
}
inner_navi_active{
    font-family:DINPro-Regular;
    font-size:14px;
    color:#4a4a4a;

}
inner_navi_noactive{
    font-family:DINPro-Regular;
    font-size:14px;
    color:#a2a2a2;
    
}
#one{
    border:1px solid #979797;
    width:56px;
    height:0px;
    display:none;
    
}
#two{
    border:1px solid #979797;
    width:65px;
    height:0px;
    display:none;
}
#three{
    border:1px solid #979797;
    width:163px;
    height:0px;
    display:none;
}
#four{
    border:1px solid #979797;
    width:57px;
    height:0px;
    display:none;
}
#five{
    border:1px solid #979797;
    width:75px;
    height:0px;
    display:none;
}
#game{}
#game1{}

